body{
	background-color: #82ABB2;
}
#barra-topo{
	position: fixed;
	z-index:1;
}
#sobre{
	position: fixed;
	top: 100px;
	
}

#seguir{
	position: fixed;
	top: 100px;
	right: 0;
	height: 300px;
}

#escrever{
	position: fixed;
	top: 200px;
	left: 15px;
	z-index:1 ;
	margin-top: 30px;
}
#painel{
}

.centro{
	margin-top: 100px;
	text-align: center;
	overflow: auto;
	height: 500px;
}

.publicacoes{
	margin-bottom: 10px;
}
