#barra-topo{
	position: fixed;
	top: 0;
	left: 0;
	z-index:1 ;
}
#sobre{
	position: fixed;
	top: 100px;
}

#seguir{
	position: fixed;
	top: 100px;
}

#escrever{
	position: fixed;
	top: 200px;
	left: 15px;
	z-index:1 ;
}
#painel{
}

.centro{
	padding-top: 100px;
}
