body{
	background-color: #82ABB2;
}
#barra-topo{
	position: fixed;
	z-index: 1;
}


.publicacoes{
	overflow: auto;
	height: 500px;
	
}


.centro{
	margin-top: 100px;	
}

#foto_perfil{
	height: 100px;
	width: auto;
}

.foto_publicacoes{
	height: 30px;
}

.foto_quem_voce{
	height: 50px;
	width: 50px;
}

#seguir{
	margin-top: 10px;
}